{% extends 'base.html' %}

{% load static %}

{% block title %}
    <title>Password Reset Complete</title>
{% endblock %}

{% block link %}
    <link rel="stylesheet" href="{% static 'CSS/accounts.css' %}">
{% endblock %}

{% block content %}
    <main class="password-reset-main">
        <div class="password-reset-container">
            <h1>Password Reset Complete</h1>
            <p>Your password has been reset successfully.</p>
            <a href="{% url 'login' %}">Go to Login</a>
        </div>
    </main>
{% endblock %}