{% extends 'base.html' %}

{% load static %}

{% block title %}
    <title>Ecommerce Profile</title>
{% endblock %}

{% block link %}
    <link rel="stylesheet" href="{% static 'CSS/accounts.css' %}">
{% endblock %}

{% block content %}
    <main class="profile-main">
        <div class="profile-container">
            <h1>User Profile</h1>
            <div class="profile-data-container">
                <div class="profile-pic">
                    <img src="{% static 'images/profile-pic.png' %}" alt="Profile Picture">
                </div>
                <div class="profile-info">
                    <p><strong>Username:</strong> {{ user.username }}</p>
                    <p><strong>Email:</strong> {{ user.email }}</p>
                    <p><strong>Member Since:</strong> {{ user.date_joined }}</p>
                    <div class="profile-actions">
                        <form method="post" action="{% url 'logout' %}">
                            {% csrf_token %}
                            <button class='logout-btn' type="submit">Logout</button>
                        </form>
                        <form method="post" action="{% url 'change_password' %}">
                            {% csrf_token %}
                            <button class='change-password-btn' type="submit">Change Password</button>
                        </form>
                    </div>
                    
                </div>
            </div>
            <div class="order-section">
                <h2>Order History</h2>
                {% if orders %}
                    <ul class="order-list">
                        {% for order in orders %}
                            <li class="order-item">
                                <p><strong>Order ID:</strong> {{ order.id }}</p>
                                <p><strong>Date:</strong> {{ order.created_at }}</p>
                                <p><strong>Total:</strong> Rs. {{ order.total_price }}</p>
                                <p><strong>Status:</strong> {{ order.status }}</p>
                                <a href="{% url 'order_detail' order.id %}">View Details</a>
                            </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p>No orders found.</p>
                {% endif %}
            </div>
        </div>
    </main>
{% endblock %}