{% extends 'base.html' %}

{% load static %}

{% block title %}
    <title>Ecommerce Register</title>
{% endblock %}

{% block link %}
    <link rel="stylesheet" href="{% static 'CSS/accounts.css' %}">
{% endblock %}

{% block content %}
    <main class="registration-main">
        <div class="registration-container">
            <h1>Register</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Register</button>
            </form>
        </div>
    </main>
{% endblock %}