{% extends 'base.html' %}

{% load static %}

{% block title %}
    <title>Ecommerce Register</title>
{% endblock %}

{% block link %}
    <link rel="stylesheet" href="{% static 'CSS/accounts.css' %}">
{% endblock %}

{% block content %}
    <main class="registration-main">
        <div class="registration-container">
            <h1>Register</h1>
            <form method="post" action="{% url 'register' %}">
                {% csrf_token %}
                {{ form.username.label_tag }} {{ form.username }} {{ form.username.errors }}
                {{ form.email.label_tag }} {{ form.email }} {{ form.email.errors }}
                {{ form.password1.label_tag }} {{ form.password1 }} {{ form.password1.errors }}
                {{ form.password2.label_tag }} {{ form.password2 }} {{ form.password2.errors }}
                <button type="submit">Register</button>
            </form>
        </div>
    </main>
{% endblock %}