{% extends 'base.html' %}

{% load static%}

{% block title%}
    <title>Ecommerce Category</title>
{% endblock %}

{% block link %}
    <link rel="stylesheet" href="{% static 'CSS/products.css' %}">
{% endblock %}

{% block content %}
    <main>
        <div class="category-container">
            <div class="category-heading">
                <img src="{% static 'images/categories.png' %}" alt="Category Image">
            </div>
            {% for category in categories %}
                <div class="category-list">
                    <div class="category-item">
                        <div class="category-item-name-and-view-btn">
                            <h2>{{ category.name }}</h2>
                            <a href="{% url 'category_detail' slug=category.slug %}" class="view-products-btn">View Products</a>
                        </div>
                        <div class="category-items-container">
                            {% for product in category.products.all %}
                                <div class="item">
                                    <div class="item-image"><img src="{{ product.image.url }}" alt="{{ product.name }}"></div>
                                    <h3 class="item-category">{{ product.category }}</h3>
                                    <h3 class="item-name">{{ product.name }}</h3>
                                    <div class="prices">
                                        <p class="item-price">Rs {{ product.price }}</p>
                                    </div>
                                    <div class="item-btns">
                                        <a href="{% url 'product_detail' id=product.id %}" class="view-btn">View Details</a>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>  
                    </div>
                </div>
            {% endfor %}
        </div>
    </main>
{% endblock %}