
{% extends 'base.html' %}

{% load static %}

{% block title %}
    <title>Ecommerce Products</title>
{% endblock %}
{% block link%}
    <link rel="stylesheet" href="{% static 'CSS/products.css' %}">
{% endblock %}
{% block content %}

    <main class="products-list-main">
        <div class="products-list-heading">
            <h1>Products</h1>
        </div>
        <div class="products-list-items">
            {% for product in products  %}
                <div class="item">
                    <div class="item-image"></div>
                    <h3 class="item-name">{{ product.name }}</h3>
                    <div class="prices">
                        <p class="item-discount-price">Rs {{ product.discountPrice }}</p>
                        <p class="item-price">Rs {{ product.originalPrice }}</p>
                    </div>
                    <div class="item-btns">
                        <a href="{{ product.id }}" class="view-btn"> View </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </main> 
{% endblock %}
