
{% extends 'base.html' %}

{% load static %}

{% block title %}
    <title>Ecommerce Products</title>
{% endblock %}
{% block link%}
    <link rel="stylesheet" href="{% static 'CSS/products.css' %}">
{% endblock %}
{% block content %}

    <main class="products-list-main">
        <div class="products-list-heading">
            <img src="{% static 'images/product hero sections image.jpeg' %}" alt="products" class="products-list-image">
            <div>
                <h1>Products</h1>
                <p>Explore curated collections and discover your next favorite find with exclusive seasonal picks.</p>
            </div>
        </div>
        <div class="search-container">
            <form action="{% url 'product_list' %}" method="get" class="search-form">
                <input type="text" class="searchInput" id="searchInput" placeholder="Search products..." name="search">
                <button type="submit" class="searchButton">Search</button>
            </form>
        </div>
        <div class="products-list-items">
            {% if products %}
                {% for product in products  %}
                    <div class="item">
                        <div class="item-image">
                            <img src="{{ product.image.url }}" alt="{{ product.name }}">
                        </div>
                        <h3 class="item-category">{{ product.category }}</h3>
                        <h3 class="item-name">{{ product.name }}</h3>
                        <div class="prices">
                            <p class="item-price">Rs {{ product.price }}</p>
                        </div>
                        <div class="item-btns">
                            <a href="{{ product.id }}" class="view-btn"> View </a>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p>No products found.</p>
            {% endif %}
        </div>
        <div class="pagination">
            {% if products.has_previous %}
                <a href= '?page=1'>&laquo; First</a>
                <a href="?page={{ products.previous_page_number }}">Previous</a>
            {% endif %}

            <span class="current-page">Page {{ products.number }} of {{ products.paginator.num_pages }}</span>

            {% if products.has_next %}
                <a href="?page={{ products.next_page_number }}">Next</a>
            {% endif %}
        </div>
    </main> 
{% endblock %}
