{% extends 'base.html' %}

{% load static %}
{% block title %}
    <title>Ecommerce checkout</title>
{% endblock %}

{% block link %}
    <link rel="stylesheet" href="{% static 'CSS/orders.css' %}">
{% endblock%}

{% block content %}
    <main class="checkout-main">
        <div class="checkout-container">
            <h1 class="container-heading">Checkout</h1>
            <div class="heading-underline"></div>
            <div class="total-price">
                <h2>Total Amount:</h2>
                <p class="amount">Rs. {{ total_amounts }}</p>
            </div>
            <form class="checkout-form" method="POST" action="{% url 'checkout' %}">
                {% csrf_token %}

                {{form}}

                <button type="submit" class="place-order-btn">Place Order</button>
            </form>
        </div>
    </main>
    
{% endblock %}