{% extends 'base.html' %}

{% load static %}
{% block title %}
    <title>Order History</title>
{% endblock %}
{% block link %}
    <link rel="stylesheet" href="{% static 'CSS/orders.css' %}">
{% endblock %}


{% block content %}
    <main class="orders-main">
        <div class="orders-container">
            <h1>Past Orders</h1>
            {% if orders %}
                <ul class="orders-list">
                    {% for order in orders %}
                        <li class="order-item">
                            <p><strong>Order ID:</strong> {{ order.OrderId }}</p>
                            <p><strong>Date:</strong> {{ order.Date }}</p>
                            <p><strong>Total:</strong> ${{ order.Total }}</p>
                            <p><strong>Status:</strong> {{ order.Status }}</p>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>No orders found.</p>
            {% endif %}
        </div>
    </main>
{% endblock %}
